/* 导航栏 */
nav {
    height: 45px;
    margin-top: 20px;
    border-bottom: 2px solid #b1191a;
} 
nav .all {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
    text-align: center;
    color: rgba(255,255,255,.8);
    font: normal 400 16px/45px '微软雅黑';
}
nav ul {
    float: left;
}
nav ul li {
    float: left;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    font: normal 400 16px/45px '微软雅黑';
}
/* 主体区域 */
/* 右侧副导航 */
.content .main {
    height: 470px;
    margin-bottom: 10px;
}
.main .subnav {
    float: left;
    width: 210px;
    height: 470px;
    background-color: #c81623;
}
.subnav ul {
    width: 210px;
    height: 465px;
    padding-top: 5px;
}
.subnav ul li {
    height: 31px;
    line-height: 31px;
}
.subnav ul li a {
    display: inline-block;
    width: 190px;
    height: 31px;
    padding: 0 10px;
    color: rgba(255,255,255,.9);
}
.subnav ul li a:hover {
    background-color: rgba(255,255,255,.9);
    color: #c81623;
}
.subnav ul li a::after {
    content: '\ea52';
    font: normal 400 16px/31px 'icomoon';
    float: right;
}
/* 轮播图 */
.main .banner {
    position: relative;
    float: left;
    width: 720px;
    height: 460px;
    margin: 10px;
}
.banner .list_img li{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 720px;
    height: 460px;
}
.banner .list_img li img {
    width: 720px;
    height: 460px;
}
.banner .list_img li.current {
    display: block;
}
.banner .list_dot {
 position: absolute;
 bottom: 15px;
 left: 50%;
 transform: translate(-50%);
}
.banner .list_dot li {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
}
.banner .list_dot li.active {
    background-color: rgba(255,255,255,.8);
}
.banner .list_dot li:last-child {
    margin-right: 0;
}
.banner .pre,
.banner .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 40px;
    text-align: center;
    background-color: rgba(255,255,255,.5);
}
.banner > span {
    display: none;
}
.banner .pre {
    left: 0;
}
.banner .next {
    right: 0;
}
.banner .pre::after {
    content: '\ea50';
    font: normal 700 24px/40px 'icomoon';
}
.banner .next::after {
    content: '\ea52';
    font: normal 700 24px/40px 'icomoon';
}
.banner .pre:hover,
.banner .next:hover {
    background-color: rgba(255,255,255,.8);
}
/* 侧边消息栏 */
.main aside {
    position: relative;
    float: left;
    width: 250px;
    height: 460px;
    margin-top: 10px;
    /* background-color: hotpink; */
}
aside .news {
    width: 248px;
    height: 162px;
    border: 1px solid #e4e4e4;
} 
aside .news p {
    height: 35px;
    padding: 0 15px;
    font: normal 400 16px/35px '微软雅黑';
    border-bottom: 1px dotted #e4e4e4;
}
aside .news p a {
    float: right;
}
aside .news p a::after {
    content: '\ea52';
    font: normal 400 16px/35px 'icomoon';
    vertical-align: middle;
}
aside .news ul {
    height: 120px;
    padding: 0 15px;
}
aside .news ul li {
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 侧边栏表格 */
aside table {
    border-collapse: collapse;
}
aside table td {
    width: 62.5px;
    height: 70px;
    text-align: center;
    border: 1px solid #e4e4e4;
}
aside table td p {
    line-height: 20px;
}
aside table td span {
    font: normal 400 24px 'icomoon';
    color: #c81623;
}
aside > img {
    position: absolute;
    right: 0;
    bottom: 0;
}
/* 今日推荐 */
.content .recommend {
    height: 165px;
}
.recommend .recommend_left {
    float: left;
    width: 205px;
    height: 100%;
    background-color: #5c5251;
    text-align: center;
}
.recommend .recommend_left span {
    display: inline-block;
    margin: 30px 0 5px 0;
    font: normal 400 60px 'icomoon';
    color: rgba(255,255,255,.8);
}
.recommend .recommend_left p {
    font: normal 400 16px/28px '微软雅黑';
    color: rgba(255,255,255,.8);
}
.recommend .recommend_right {
    float: left;
    width: 995px;
    height: 100%;
    background-color: #ebebeb;
}
.recommend .recommend_right ul {
    float: left;
    width: 995px;
}
.recommend .recommend_right li {
    position: relative;
    float: left;
    width: 218px;
    height: 135px;
    margin: 15px 0;
    padding: 0 15px;
    border-right: 1px solid rgba(0,0,0,.1);
    
}
.recommend .recommend_right li:last-child {
    border: none;
}
.recommend .recommend_right li .text {
    float: left;
}
.recommend .recommend_right li h3 {
    margin-bottom: 10px;
}
.recommend .recommend_right li p {
    height: 18px;
    padding: 0 3px;
    margin: 1px 0;
    font: normal 400 12px/18px 'Microsoft YaHei';
}
.recommend .recommend_right .colors1 {
    display: inline-block;
    background-color: #00a0e8;
    color: rgba(255,255,255,1);
}
.recommend .recommend_right .colors2,
.recommend .recommend_right .text span.group2 {
    background-color: #5fb200;
    color: rgba(255,255,255,1);
}
.recommend .recommend_right .colors3,
.recommend .recommend_right .text span.group3 {
    background-color: #e2162f;
    color: rgba(255,255,255,1);
}
.recommend .recommend_right .colors4,
.recommend .recommend_right .text span.group4 {
    background-color: #0085fb;
    color: rgba(255,255,255,1);
}
.recommend .recommend_right .text span {
    display: inline-block;
    margin-top: 20px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
}
.recommend .recommend_right li img {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    transition: all .6s;
}
.recommend .recommend_right li img:hover {
    transform: translateY(-50%) scale(1.1);
}
/* 猜你喜欢 */
.likes .title {
    height: 45px;
    line-height: 45px;
    padding-top: 15px;
}
.likes .title p {
    float: left;
    font-size: 16px;
}
.likes .title a {
    float: right;
    margin-right: 15px;
}
.likes .title a::after {
    content: '\e982';
    font: normal 400 12px/45px 'icomoon';
    vertical-align: middle;
    margin-left: 3px;
}
.likes .products {
    height: 230px;
    border: 1px solid rgba(0,0,0,.1);
}
.likes .products li {
    float: left;
    width: 200px;
    height: 230px;
    /* text-align: center; */
}
.likes .products li > a {
    position: relative;
    display: inline-block;
    height: 160px;
    width: 200px;
}
.likes .products li:last-child {
    width: 198px;
}
.likes .products li:last-child .details{
    border: none;
}
.likes .products li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .6s;
}
.likes .products li img:hover {
    transform: translate(-50%,-50%) scale(1.1);
}
.likes .products .details {
    text-align: center;
    padding: 0 15px;
    border-right: 1px solid rgba(0,0,0,.1);
}
.likes .products .details a {
    display: inline-block;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}
.likes .products .details p {
    font: normal 700 16px/24px 'Microsoft YaHei';
    color: #e2162f;
}
/* 重用大盒子 */
/* 重用title */
.box .title {
    height: 45px;
    line-height: 45px;
    padding-top: 15px;
    border-bottom: 2px solid #e2162f;
}
.box .title p {
    float: left;
    font-size: 16px;
}
.box .title ul {
    float: right;
}
.box .title li {
    float: left;
    padding: 0 15px;
    margin-top: 20px;
    height: 14px;
    line-height: 14px;
    border-right: 1px solid rgba(0,0,0,.1);
}
.box .title li:first-child a{
    color: #e2162f;
}
.box .title li:last-child {
    border: none;
}
/* 重用产品列表 */
.box_products {
    height: 360px;
}
.box_products .products_left {
    float: left;
    width: 210px;
    height: 360px;
    background-color: #f9f9f9;
}
.box_products .products_left table{
    border-collapse: separate;
    border-spacing: 15px 0;
}
.box_products .products_left td {
    width: 105px;
    height: 32px;
    text-align: center;
    border-bottom: 1px dotted rgba(0,0,0,.1);
}
.box_products .products_left .demo {
    text-align: center;
}
.box_products .products_left .demo p {
    margin-top: 25px;
    font: normal 400 16px 'Microsoft YaHei';
}
.box_products .products_left .demo p a,
.box_products .products_left .demo span {
    color: #e2162f;
}
.box_products .products_left .demo img {
    margin-top: 25px;
}
.box_products .products_focus {
    float: left;
    width: 330px;
    height: 360px;
}
.box_products .products_right {
    float: left;
    width: 660px;
    height: 360px;
}
.box_products .products_right td {
    position: relative;
    width: 220px;
    height: 180px;
    border-right: 1px dotted rgba(0,0,0,.1);
    border-bottom: 1px dotted rgba(0,0,0,.1);
}
.box_products .products_right .td_text {
    position: absolute;
    top: 18px;
    left: 12px;
    line-height: 20px;
}
.box_products .products_right .td_text p {
    font-size: 14px;
}
.box_products .products_right .td_text span {
    color: #e2162f;
}
.box_products .products_right td img {
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all .6s;
}
.box_products .products_right .td_middle img:hover {
    transform: scale(1.1) translate(-50%);
}
.box_products .products_right .td_middle .td_text,
.box_products .products_right .td_middle img {
    left: 50%;
    transform: translate(-50%);
}
.box_products .products_right .td_middle .td_text {
    top: 70px;
    text-align: center;
}
.box_products .products_right .td_middle img {
    bottom: 50px;
}
/* logo列表 */
.logo_list {
    height: 60px;
    margin-top: 20px;
}
.logo_list img {
    width: 100%;
    height: 60px;
}
/* 主体区域结束 */
 